*, *:before, *:after {
    box-sizing: border-box;
  }
.sort{
    text-decoration: none;
}
.sort:visited{
    color: black;
}
.sort:active{
    color:red;
}
.sort:hover{
    color:red;
}

.Impr {
    border:0;
    border-radius: 10px;
    padding:15px;
    margin:10px 0 10px 60px;
}
.updinp{
    border:0;
    border-radius: 10px;
    padding:15px;
    margin:10px 0 0 20px;
}

/* Таблица */
.tab{
    display: flex;
    justify-content: center;
}
.undertableitem{
    display: flex;
    justify-content: space-around;
}
.undertableitem a{
    text-decoration: none;
    color:rgb(75, 56, 39);
}
table {
    width: 70%;
    font-size: 25px;
    text-align: center;
    color:rgb(47, 48, 31);
	margin-bottom: 20px;
	border: 15px solid #F2F8F8;
	border-top: 5px solid #F2F8F8;
	border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #F2F8F8;
	border: 1;
    border-bottom: 5px solid #F2F8F8;
    border-collapse: collapse; 
}
table td {
	padding: 5px;
	border: solid 1;
    border-bottom: 5px solid #F2F8F8;
    border-collapse: collapse; 
}
table caption{
    margin-right:50px;
}
